@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400&display=swap");

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.App {
  text-align: center;
  font-family: "Lora", serif;
  background-color: #f4fbff;
}

.active {
  color: #ff395c;
}

.btn-main {
  outline: #ff395c;
  color: #fff;
  background: #ff395c;
}
.btn-main:hover {
  background: #f5244b;
}
.text-main {
  color: #ff395c;
}

.bg-main {
  background: #ff395c;
  color: #fff;
}
