@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400&display=swap");

a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #ff395c;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.App {
  text-align: center;
  font-family: "Lora", serif;
  background-color: #f4fbff;
}

.active {
  color: #ff395c;
}

.btn-main {
  outline: #ff395c;
  color: #fff;
  background: #ff395c;
}
.btn-main:hover {
  background: #f5244b;
  color: #f4fbff;
}
.text-main {
  color: #ff395c;
}

.bg-main {
  background: #ff395c;
  color: #fff;
}
.bg-1 {
  background: #0dcaf0bf;
  color: #fff;
}
.bg-2 {
  background: #6f42c1bf;
  color: #fff;
}
.bg-3 {
  background: #20c997bf;
  color: #fff;
}
.text-1 {
  color: #0dcaf0bf;
}
.text-2 {
  color: #6f42c1bf;
}
.text-3 {
  color: #20c997bf;
}

@media screen and (max-width: 576px) {
  html {
    font-size: 12px;
  }
}
